html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    overflow: hidden;
    background: #FFEDDB;
}

@keyframes appearFromCenter {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(-30%);
        opacity: 1;
    }
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    animation: 1.1s ease-out 0s 1 appearFromCenter;
    transform: translateY(-30%);
}

h1 {
    margin: 0;
    font-size: 100px;
}

p {
    border: 3px solid #BF9270;
    border-radius: 5px;
    background: #E3B7A0;
    padding: 1rem;
}

canvas {
    position: absolute;
}