body {
    overflow: hidden;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    transform: translateY(-30%);
}

h4 {
    margin: 0;
    font-size: 100px;
}

canvas {
    position: absolute;
}